{{#extends 'base'}}

{{#block 'content'}}
<h1>Editing {{product.name}}</h1>
<form method="POST">
    {{{form}}}
    {{!-- display image if image_url is stored in the product --}}
    <div>
        {{#if product.image_url}}
        <img src="{{product.image_url}}" id="uploaded_image" />
        {{else}}
        <img src="" style="display: none;" id="uploaded_image" />
        {{/if}}
    </div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <a href="#" class="btn btn-primary" id="upload_widget">Upload</a>
    <input type="submit" value="Update Product" class="btn btn-primary"/>
</form>
{{/block}}

{{#block "js"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.min.js" 
integrity="sha512-m2ssMAtdCEYGWXQ8hXVG4Q39uKYtbfaJL5QMTbhl2kc6vYyubrKHhr6aLLXW4ITeXSywQLn1AhsAaqrJl8Acfg==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://widget.cloudinary.com/v2.0/global/all.js"
type="text/javascript"></script>

<script>
    let cloudinaryName = "{{cloudinaryName}}";
    let cloudinaryApiKey = "{{cloudinaryApiKey}}";
    let cloudinaryPreset = "{{cloudinaryPreset}}";

    async function generateSignature(callback, params_to_sign) {
        let response = await axios.get('/cloudinary/sign', {
            params: {
                'params_to_sign': params_to_sign
            }
        })
        callback(response.data);
    }

    let config = {
        'cloudName': cloudinaryName,
        'apiKey': cloudinaryApiKey,
        'uploadPreset': cloudinaryPreset,
        'uploadSignature': generateSignature
    }

    let afterUpload = (error, result) => {
        if (!error && result && result.event == 'success') {
            //console.log(result);
            document.querySelector('#uploaded_image').src = result.info.secure_url;
            document.querySelector('#uploaded_image').style.display = "inline";

            // hide the button
            //document.querySelector('#upload_widget').style.display = "none";

            // set value of hidden form field to uploaded image's url
            document.querySelector('#id_image_url').value = result.info.secure_url;
        }
    }

    let myWidget = cloudinary.createUploadWidget(config, afterUpload);

    document.querySelector('#upload_widget').addEventListener("click", function(){
        myWidget.open();
    })
</script>
{{/block}}

{{/extends}}